@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #22272e;
  border: #444c56;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.topbar li {
  list-style: none;
  display: inline;
  float: left;
}

.topbar li a {
  text-decoration: none;
  font-size: 40px;
  color: var(--default-font);
  margin: 10px;
  transition: all 0.3s;
  color: #adbac7;
  transition: 0.3s;
}

.topbar li a:hover {
  color: white;
}

.sidebar {
  position: fixed;
  top: 90px;
  left: -20px;
  background: #22272e;
  width: 10%;
  overflow-y: scroll;
  height: 92%;
  border: #444c56;
  border-style: solid;
  border-bottom: 0;
  border-left: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar li a {
  font-size: 20px;
  margin-left: 20px;
  color: #adbac7;
  text-decoration: none;
}

main {
  background: #22272e;
  width: 100%;
  height: 1000px;
}

main h1 {
  color: #adbac7;
  padding-top: 300px;
  position: relative;
  font-size: 40px;
  text-align: center;
}
