@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --default-font: rgb(219, 219, 219);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/imgs/blurry-gradient-haikei.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Source Code Pro", monospace;

  margin: 0;
}

.navbar {
  z-index: 100000;
}

.container {
  z-index: 10;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  text-align: center;
}

.container section {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.container section:nth-child(1) {
  color: var(--default-font);
}

.container section:nth-child(2) {
  color: var(--default-font);
}

.container section:nth-child(3) {
  color: var(--default-font);
}

.container section h1 {
  margin-top: 130px;
  font-size: 60px;
  position: relative;
  place-content: center;
  text-align: center;
}

.typeani {
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  animation: typing 2s steps(15), cursor 0.4s step-end infinite alternate;
}

.container section:nth-child(1) img {
  width: 300px;
  position: absolute;
  left: 300px;
  top: -400px;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.container section:nth-child(1) h2,
.container section:nth-child(2) h2 {
  margin-top: -500px;
  font-size: 40px;
}

.mobilemenu {
  display: none;
}

.mobilemenu.active {
  display: block;
}

.computermenu li {
  z-index: 1000;
  list-style: none;
  display: inline;
  float: left;
  padding-top: 0;
}

.toggle {
  position: fixed;
  top: 70px;
  right: 15px;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
}

.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: var(--default-font);
  border-radius: 4px;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  right: 15px;
}

.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  right: 15px;
}

.toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.1s;
}

.toggle.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0) rotate(315deg);
  transition: 0.15s;
}

.toggle.active span:nth-child(3) {
  transform: translateX(60px);
}

.mobilemenu {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
  font-size: 40px;
  padding-top: 100px;
  right: 17px;
  background: #22272e;
}

body.active {
  background: #22272e;
}

.main.active {
  display: none;
}

.mobilemenu li {
  padding: 10px;
  z-index: 100;
  list-style: none;
}

.mobilemenu li a {
  color: var(--default-font);
}

.navtext {
  position: fixed;
  width: 200px;
  height: 60px;
  top: 75px;
  left: 20px;
  transition: 0.3s;
  z-index: 10000;
}

.navtext:hover {
  width: 250px;
}

li:nth-child(2) {
  animation-delay: 200ms;
}

li:nth-child(3) {
  animation-delay: 300ms;
}

li:nth-child(4) {
  animation-delay: 400ms;
}

li:nth-child(5) {
  animation-delay: 500ms;
}

li:nth-child(6) {
  animation-delay: 600ms;
}

li:nth-child(7) {
  animation-delay: 700ms;
}

li:nth-child(8) {
  animation-delay: 800ms;
}

li:nth-child(9) {
  animation-delay: 900ms;
}

.computermenu li a {
  font-size: 40px;
  width: 60px;
  height: 50px;
  color: var(--default-font);
  margin: 10px;
  transition: all 0.3s;
}

@keyframes navbar {
  from {
    padding-top: 0;
  }
  50% {
    padding-top: 15px;
  }
}

li a:hover {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

li svg:hover {
  width: 50px;
  height: 50px;
}

li svg {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

#navbar {
  top: 0;
  height: 81px;
  transition: 0.3s;
}

.navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  left: 0%;
  transform: translate(-50%, 0);
  display: flex;
  text-align: center;
  justify-content: center;
}

.bottom {
  text-align: center;
}

.bottom h1,
.bottom a {
  color: var(--default-font);
  transition: 0.3s;
}

.bottom h1:nth-child(2) {
  top: 30vh;
}

.bottom .links a {
  top: 70vh;
}

.bottom .links a:nth-child(1) {
  left: 45.5%;
}

.bottom .links a:nth-child(2) {
  left: 48.5%;
}

.bottom .links a:nth-child(3) {
  left: 51.5%;
}

.bottom .links a:nth-child(4) {
  left: 54.5%;
}

.bottom i {
  padding: 10px;
  font-size: 30px;
  transition: 0.3s;
}

.bottom a:hover {
  color: rgb(255, 255, 255);
}

.bottom i:hover {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.tiles {
  height: 100vh;
  width: 100vw;

  display: grid;
}

.tile {
  outline: 1px solid white;
}

@media screen and (min-width: 992px) {
  .navtext {
    display: none;
  }
  .toggle {
    display: none;
  }
  .mobilemenu {
    display: none;
  }
}

/* Large Screens */
@media screen and (max-width: 992px) {
  .computermenu li a {
    display: none;
  }

  .container section h1 {
    font-size: 40px;
    position: relative;
  }

  .container section:nth-child(1) h2 {
    position: absolute;
    top: 145vh;
  }

  .container section:nth-child(2) h2 {
    position: absolute;
    top: 240vh;
  }

  .bottom .links a {
    top: 362vh;
  }

  .bottom .links a:nth-child(1) {
    left: 21.5%;
  }

  .bottom .links a:nth-child(2) {
    left: 35.5%;
  }

  .bottom .links a:nth-child(3) {
    left: 49.5%;
  }

  .bottom .links a:nth-child(4) {
    left: 63.5%;
  }
}

/* Small screens */
@media screen and (max-width: 600px) {
  .computermenu li a {
    display: none;
  }

  .container section:nth-child(1) h1 {
    top: -200px;
  }

  .container section:nth-child(1) h2 {
    top: 1000px;
  }

  .container section:nth-child(2) h1 {
    top: -200px;
  }

  .container section:nth-child(2) h2 {
    top: 1900px;
  }

  .container section:nth-child(1) img {
    display: none;
  }

  .bottom h1:nth-child(2) {
    top: 320vh;
  }

  .bottom .links a {
    top: 362vh;
  }

  .bottom .links a:nth-child(1) {
    left: 21.5%;
  }

  .bottom .links a:nth-child(2) {
    left: 35.5%;
  }

  .bottom .links a:nth-child(3) {
    left: 49.5%;
  }

  .bottom .links a:nth-child(4) {
    left: 63.5%;
  }
}
