@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --default: #deecf6;
}

* {
  color: #deecf6;
  font-family: "Ubuntu", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: url(/blurry-gradient-haikei.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  font-size: 20px;
  list-style: none;
  width: 100%;
  height: 90px;
  float: left;
  display: flex;
  justify-content: center;
  position: fixed;
}

.nav li {
  margin-left: 70px;
  margin-right: 70px;
}

.nav li a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  font-size: 30px;
}

.nav li a p {
  opacity: 0;
  position: absolute;
  transform: translate(-67px, 40px);
  transition: all 0.3s;
}

.nav li:nth-child(2) a p {
  transform: translate(-50px, 40px);
}

.nav li:hover a p {
  color: lightgray;
  opacity: 1;
}

.nav li:hover a svg {
  color: lightgray;
}

.nav li a svg {
  position: absolute;
  top: 40px;
  transform: translateX(-45px);
  transition: all 0.3s;
}

.navtext {
  width: 200px;
  height: min-content;
  position: fixed;
  top: 15px;
  left: 15px;
  transition: all 0.3s;
}

.navtext:hover {
  width: 250px;
}

.toggle {
  position: fixed;
  top: 35px;
  right: 10px;
  width: 70px;
  height: 70px;
  display: flex;
}

.toggle span {
  position: absolute;
  background: #deecf6;
  width: 40px;
  height: 4px;
  border-radius: 15px;
}

.toggle span:nth-child(1) {
  transform: translate(20px, 15px);
  width: 20px;
}

.toggle span:nth-child(2) {
  transform: translate(10px, 30px);
  width: 30px;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-align: center;
}

.main h2 {
  font-size: 40px;
}

@media screen and (min-width: 992px) {
  .toggle {
    display: none;
  }
  .navtext {
    top: 40px;
    left: 50px;
  }
}

@media screen and (max-width: 992px) {
  .navtext {
    display: block;
  }
  .nav {
    display: none;
  }
}
