@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default: #deecf6;
}

body {
  background: #0f172a;
}

* {
  color: #deecf6;
  font-family: "Ubuntu", sans-serif;
}

.who-i-am h1 {
  padding-top: 100px;
  font-size: 50px;
}

.who-i-am p {
  font-size: 30px;
}

@media screen and (min-width: 992px) {
  .navtextmobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .main {
    top: 60%;
  }
  .who-i-am {
    margin-top: 250px;
  }
  .shape {
    bottom: -250px;
  }
}
